/* 모바일에서만 보여지는 부분 가려주기 */
#hamburger {
  display: none;
}

/* ----------------------- */
/* 전체적으로 공통인 부분은 상단에 개별지정영역은 하단에 작성 */
.header_area .container,
.banner .container {
  width: 1440px;
  margin: 0 auto;
}

.header_area {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;

  height: 80px;
  background-color: #fff;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;

  border-bottom: 1px solid #222;
}

.header_area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  position: relative;
}

.header_area .header_logo {
  width: 164px;
  height: 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_area .main_menu,
.header_area .icon_box {
  display: flex;
  gap: 24px;
}

/* ------------------------------------------------ */
/* 헤더 스크롤 이벤트 */
.header_area.scrollEvent {
  position: fixed;
  height: auto;
  padding: 20px 0px;

  animation: headerscroll 0.3s linear;
}

@keyframes headerscroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* --------------------------------------------------------- */
/* 배너 */
.banner {
  background-color: #222;
}

.video_banner {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.video_banner .video_box {
  width: 33.333%;
  height: 356px;
}

/* --------------------------------------------------------- */
/* 서브메뉴박스 */
.sub_menu_box {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 540px;
  background-color: #fff;

  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}
/* --------------------------------------------------------- */
/* 서브메뉴 액티브 */
.sub_menu_box.active {
  opacity: 1;
  z-index: 99;
}

.sub_menu_box .sub_menu.active {
  opacity: 1;
}

/* --------------------------------------------------------- */
/* 서브메뉴 하나씩 확인 */
/* .sub_menu_box .sub_menu.collection {
  opacity: 1;
} */

/* --------------------------------------------------------- */

.sub_menu_box .sub_menu {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 80px;

  width: 1440px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  text-transform: uppercase;
  transition: 0.3s;
}
/* --------------------------------------------------------- */
/* 서브메뉴박스 공통영역 */
.sub_menu_box .sub_menu_head {
  font-size: 0.875rem;
  color: #222;
  font-weight: 400;
}

.sub_menu_box .sub_menu_body {
  font-size: 0.875rem;
  font-weight: 300;
  color: #a2a2a2;
  margin-top: 8px;
}

.sub_menu_box .photo img {
  object-position: center top;
}

/* --------------------------------------------------------- */
/* women,men */
.sub_menu_box .women .menu_left,
.sub_menu_box .men .menu_left {
  width: 930px;
  height: 362px;

  display: flex;
}

.sub_menu_box .women .sub_menu_detail,
.sub_menu_box .men .sub_menu_detail {
  width: 33.333%;
}

.sub_menu_box .women .photo,
.sub_menu_box .men .photo {
  width: 335px;
  height: 362px;
}
/* --------------------------------------------------------- */
/* collection */
.sub_menu_box .collection .photo {
  width: 310px;
  height: 368px;
}

.sub_menu_box .collection .menu_left {
  height: 368px;
}

.sub_menu_box .collection .sub_menu_detail {
  margin-bottom: 8px;
}

/* --------------------------------------------------------- */
/* about */
.sub_menu_box .sub_menu.about {
  gap: 20px;
}

.sub_menu_box .about .sub_menu_detail {
  width: 33.333%;
}

.sub_menu_box .about .photo {
  width: 100%;
  height: 300px;
}

.sub_menu_box .about p {
  margin-top: 12px;
  font-size: 0.875rem;
  font-weight: 600;
}

/* --------------------------------------------------------- */
/* main section */
.main_section .container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 68px;
}

/* --------------------------------------------------------- */
/* main_section 공통텍스트 */

.main_section .headtext {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;

  padding-bottom: 8px;
  margin-bottom: 40px;

  display: inline-block;
  /* 하단 밑줄 너비 때문에 설정(텍스트 길이만큼만 밑줄생김) */
}

.main_section .headtext.underline {
  border-bottom: 1px solid #a2a2a2;
}

/* .main_section 공통 서브텍스트 */
.main_section .subtext {
  font-family: "EB Garamond", serif;
}

/* --------------------------------------------------------- */
/* sec1 */
.sec_1 .container {
  padding-top: 200px;
}

.sec_1 .ex_top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_1 .headtext {
  padding-bottom: 0;
}

.sec_1 .subtext.top {
  margin-bottom: 16px;
}

.sec_1 .subtext.bottom {
  margin-bottom: 68px;
}

.sec_1 .ex_image {
  width: 100%;
  height: 800px;
  margin-bottom: 86px;
}

/* gap 이용해서 ex_center .subtext 너비값 설정 후 가로정렬 */
.sec_1 .ex_center {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.sec_1 .ex_center .subtext {
  width: 50%;
}

/* 가로 정렬 시 너비값이 설정되어 있음에도 내가 적용한 너비값이 제대로 적용되지 않을 경우 flex-shrink : 0; 속성을 자식 요소에 지정 */

/* 바텀 이미지에 크게값 주고 gap은 122px, 가로정렬 */
.sec_1 .ex_bottom {
  display: flex;
  align-items: center;
  gap: 122px;
}

.sec_1 .ex_bottom .bottom_image {
  width: 488px;
  height: 658px;

  flex-shrink: 0;
}

/* --------------------------------------------------------- */
/* sec_2 */

/* 배경컬러 변경 */
body {
  transition: 0.3s;
}

body.bg {
  background-color: #b5b0ad;
}

.sec_2 .collection_top {
  color: #fff;
}

.main_section.sec_2 .headtext {
  border-color: #fff;
}

.sec_2 .col_text {
  display: flex;
  gap: 20px;
}

.sec_2 .subtext {
  width: 50%;
  margin-bottom: 68px;
  font-weight: 300;
}

.sec_2 .collection_bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sec_2 .collection_bottom .content {
  background-color: #222;
  height: 512px;

  /* width: 33.333%; */
  width: calc((100% - 40px) / 3);
}
/* flex-wrap을 사용하는 경우 하단 여백도 gap으로 들어가면서 원하는 정렬이 나오지않음 */

.sec_2 .collection_bottom .con1 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_01.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con2 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_02.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con3 {
  background: url(../image/fw_03.jpg) no-repeat center top / cover;
}

.sec_2 .collection_bottom .con4 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_04.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con5 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_05.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con6 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_06.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con7 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_07.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con8 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_08.jpg) no-repeat
    center top / cover;
}

.sec_2 .collection_bottom .con9 {
  background: url(/lemaire_renewal/웹4_예제이미지/image/fw_09.jpg) no-repeat
    center top / cover;
}
